<form nz-form [formGroup]="form" (ngSubmit)="submit()">
  <div class="login-error">{{error}}</div>
  <nz-input-group nzSize="large" nzPrefixIcon="user">
    <input nz-input formControlName="username" placeholder="请输入用户名">
  </nz-input-group>
  <nz-input-group nzSize="large" nzPrefixIcon="lock">
    <input nz-input type="password" formControlName="password" placeholder="请输入密码">
  </nz-input-group>
  <div>
    <!--<label nz-checkbox formControlName="remember">自动登录</label>-->
    <a routerLink="/resetpwd" *ng-if(false)>忘记密码</a>
    <a routerLink="/reg">注册账户</a>
  </div>
  <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock>登录</button>
</form>

